
<div class="col-md-10 mx-auto">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center"><i class="fa fa-user-md"></i> Your Patients</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <table *ngIf="patients?.length > 0; else noPatients" class="table table-stripped">
          <thead class="thead-dark">
            <tr>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients">
              <td>{{patient.firstName}}</td>
              <td>{{patient.lastName}}</td>
              <td>{{patient.email}}</td>
              <td><a href="#" [routerLink]="['/patient-detail/'+patient.id]" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-right"></i> View Details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noPatients>
        You have no patients.<hr />
      </ng-template>
    </div>
  </div>
</div>
