
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">MedCare</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div *ngIf="loggedIn()" class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" routerLink="/list-doctors">View Doctors</a>
        <a class="dropdown-item" href="#" routerLink="/add-doctor">Add Doctor</a>
      </div>
    </div>
    <div *ngIf="loggedIn()" class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Doctor
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" routerLink="/edit-doctor">Edit Profile</a>
        <a class="dropdown-item" href="#" routerLink="/patients">My Patients</a>
        <a class="dropdown-item" href="#" routerLink="/records">Records</a>
        <a class="dropdown-item" href="#" routerLink="/add-patient">Add Patient</a>
        <a class="dropdown-item" href="#" routerLink="/messages">Messages</a>
        <a class="dropdown-item" href="#" routerLink="/sendmessage2">New Message</a>
      </div>
    </div>
    <div *ngIf="loggedIn()" class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Patient
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" routerLink="/patient-records">My Records</a>
        <a class="dropdown-item" href="#" routerLink="/doctors">My Doctors</a>
        <a class="dropdown-item" href="#" routerLink="/messages">Messages</a>
        <a class="dropdown-item" href="#" routerLink="/sendmessage">New Message</a>
        <a class="dropdown-item" href="#" routerLink="/patient-records">Edit Profile</a>
      </div>
    </div>
    <a class="p-2 text-info" *ngIf="loggedIn()"><i class="fa fa-user"></i>User: {{authService.decodedToken.unique_name}}</a>
  </nav>

  <a class="btn btn-outline-primary" *ngIf="!loggedIn()" routerLink="login">Login</a>
  <a class="btn btn-outline-success" *ngIf="loggedIn()" (click)="logout()">Logout</a>
</div>
