
<div class="row">
  <div class="col-md-6 mx-auto">
    <div *ngIf="messages.length>0; else noMessages" class="card">
      <div class="card-header">
        <h1> Inbox </h1>
      </div>
      <div class="card-body">
        <ul *ngFor="let message of messages" class="list-group">
          <li class="list-group-item"><strong>From: </strong>{{message.from}}  <strong>Subject: </strong>{{message.subject}} <a href="#" class="btn btn-success btn-sm" (click)="messageRead()" [routerLink]="['/message/'+message.id]" style="margin-left:7px">Open</a>  <i *ngIf="message.read" class="fa fa-check"></i></li>
        </ul>
      </div>
    </div>
    <ng-template #noMessages>
      You have no messages.
    </ng-template>
  </div>
</div>
